
# Batch scripts

*.bat eol=crlf
*.errors eol=crlf
*.info eol=crlf


# Bash scripts

*.sh eol=lf


# XML

*.xml eol=lf


# Documentation files

*.md eol=lf
*.txt eol=crlf


# HTML and JavaScript

*.html eol=lf
*.htm eol=lf
